@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply flex p-[10px_24px] justify-center items-center gap-[10px] rounded-[22px] font-sans text-[16px] font-bold leading-normal;
}

.button-text {
    @apply flex p-[10px_0px] justify-center items-center gap-[10px] text-[#131313] font-sans text-[16px] font-bold leading-normal;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer svg path {
    transition: fill 0.1s ease; /* 부드러운 전환 효과 */
}

.cursor-pointer svg:hover path {
    fill: gray; /* 회색으로 변경 */
}

.custom-input {
    outline: none; /* 포커스 시 외곽선 제거 */
    color: black; /* 텍스트 색상 검정으로 설정 */
    font-weight: 600;
}

.custom-input::focus {
    background-color: white;
}

.custom-input::placeholder {
    font-weight: 400; /* 플레이스홀더 텍스트는 굵게 처리하지 않음 */
    color: #ababab;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
